body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div:hover{
    border-style: inset;
    
    
}

/* Me inspirei no código do colega Sílvio Fabian voltado para o uso do nth-child(). link: https://github.com/SilvioFabian1/trybe-exercises/blob/master/bloco_3/dia_3/style4.css */

div:nth-child(3){
    background-color: rgb(43, 185, 241);
    border-color: #3a1988;
}
div:nth-child(4){
    background-color: #319c31;
    border-color: #8a148a;
}
div:nth-child(5){
    font-size: 25px;
    background-color: #ffa601;
    border-color: #1e4b9e;
}
div:nth-child(6){
    background-color: rgb(70, 70, 70);
    border-color: #e9e9e9;
}
div:nth-child(7){
    background-color: rgb(199, 199, 199);
    border-color: #000000;
}

div:nth-child(3) > h3{
    color: #3a1988;
}

div:nth-child(4) > h3{
    color: #8a148a;
}
div:nth-child(5) > h3{
    color: #1e4b9e;
}
div:nth-child(6) > h3{
    color: #e9e9e9;
}
div:nth-child(7) > h3{
    color: #000000;
}
div:nth-child(odd){
    font-style: italic;
}
/*
dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border
*/