.super-mario {
    position: absolute;
    width: 150px;
    z-index: 0;
    top: 60px;
    
  
}
.goomba{
    
    position: absolute;
    width: 75px;
    margin-left: 50px;
    z-index: 1;
    top: 255px;
    
   
}
.bowser{
    position: absolute;
    width: 350px;
    top: 0px;
    right: 50px;
    z-index: 2;
}

.baloon{
    width: 250px;
    position: absolute;
    right: 400px;
    top: 10px;
    z-index: 3;
}

.word{

    position: absolute;
    top: 50px;
    right: 450px;
    z-index: 4;
}